meta(charset='utf-8')
meta(name='robots', content='index,follow')
link(rel='shortcut icon', href='images/favicon.ico')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(http-equiv='content-language', content='en')
meta(http-equiv='expires', content='-1')
meta(http-equiv='imagetoolbar', content='no')
meta(http-equiv='pragma', content='no-cache')
meta(http-equiv='window-target', content='_top')
meta(name='viewport', content='width=device-width, initial-scale=1')
meta(name='author', content='')
meta(name='company', content='')
meta(name='copyright', content='')
meta(name='creation-date', content='01-jan-2001 20:40:01 GMT+8')
meta(name='distribution', content='global')
meta(name='revisit-after', content='1 days')
meta(name='description', content='')
meta(name='keywords', content='')

//if lt IE 9
	<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv-printshiv.min.js"></script>
	<script type='text/javascript' src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script>
	
title Maintenance Page

// 共用的CSS
link(rel='stylesheet', href='css/style.css', type="text/css")
