// 圓形
@mixin circle($size, $c-bgcolor) {
  width: $size;
  height: $size;
  font-size: $size/3;
  line-height: $size + 2px;
  background: $c-bgcolor;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

// 三角形
@mixin triangle($tri-border-color, $tri-border-width) {
  border-color: $tri-border-color;
  border-style: solid;
  border-width: $tri-border-width;
}
