//------------------------------------------------------Icon Fonts

//------------------------------------------------------基本全域CSS設定
body {
  background: $black;
  color: $white;
  letter-spacing: 1px;
}

::selection {
  background: rgba($main_color, 0.5);
  color: $white;
  text-shadow: none;
}

a {
  color: $main_color;
  transition: color 0.2s linear;

  &:hover {
    color: lighten($main_color, 15%);
  }

  &:focus {
    color: lighten($main_color, 15%);
  }
}

::-webkit-input-placeholder {
  @include rem(font-size, 1.6rem);
  letter-spacing: 2px;
}

:-ms-input-placeholder {
  @include rem(font-size, 1.6rem);
}

::-moz-placeholder {
  @include rem(font-size, 1.6rem);
}

:-moz-placeholder {
  @include rem(font-size, 1.6rem);
}

.warp_fullScreen,
.warp_pages {
  overflow: hidden;
}

//------------------------------------------------------Logo設定

//------------------------------------------------------Content設定

.content {
  margin-left: 226px;
}

//------------------------------------------------------元件部分

//------------------------------------------------------ Table Style
.table_base {
  thead {
    tr > th {
      vertical-align: middle;
    }

    th {
      background-color: lighten($grey, 35%);
      vertical-align: middle;
    }
  }

  tbody {
    tr > td {
      padding: 18px 8px;
      vertical-align: middle;
    }
  }
}

//------------------------------------------------------ Title Bar

//------------------------------------------------------Page頁碼
.pagebox {
  display: flex;
  font-size: 0;
  justify-content: center;
  list-style: none;
  margin: auto;
  padding-left: 0;
  text-align: center;

  li {
    color: $white;
    @include rem(font-size, 1.5rem);
    line-height: 36px;
    width: 36px;
    height: 36px;
    cursor: pointer;

    &:not(:last-child) {
      margin-right: 10px;
    }
  }

  a {
    color: $black;
    display: block;
    text-align: center;
    font-weight: 600;
    position: relative;

    &:hover {
      &:after {
        background: $black;
        content: '';
        display: inline-block;
        height: 2px;
        position: absolute;
        bottom: 0;
        right: 30%;
        left: 30%;
      }
    }
  }

  .on {
    position: relative;

    &:after {
      background: $black;
      content: '';
      display: inline-block;
      height: 2px;
      position: absolute;
      bottom: 0;
      right: 30%;
      left: 30%;
    }
  }

  .arrow {
    // font-size: inherit;
    color: $grey;
    transition: all 0.3s ease-in-out;

    &:hover {
      background: $main_color;
      color: $white;
    }
  }

  .page_arrow_right {
    @include triangle(transparent transparent transparent $white, 3px 0 3px 6px);
  }

  .page_arrow_left {
    @include triangle(transparent $white transparent transparent, 3px 6px 3px 0);
  }
}

//------------------------------------------------------ ImgBox Style
.pic-box {
  .moveimg {
    display: block;
    overflow: hidden;
    .imgbox {
      @include bg-images();
      width: 100%;
      height: 100%;
      transform: scale(1);
      transition-duration: 0.5s;
      &:hover {
        transform: scale(1.05);
      }
    }
    &.square {
      &:after {
        content: '';
        display: block;
      }
      .imgbox {
        padding-bottom: 100%;
      }
    }
    &.pic_43 {
      @include snb-width {
        height: calc((390px - 30px) / 4 * 3);
      }
    }
    &.pic_169 {
      @include snb-width {
        height: calc((390px - 30px) / 16 * 9);
      }
    }
    &.pic_219 {
      @include snb-width {
        height: calc((390px - 30px) / 21 * 10);
      }
    }
  }

  .hoverimg {
    display: inline-block;
    position: relative;
    width: 100%;
    @include bg-images();
    &:hover {
      .overlay {
        opacity: 1;
      }
    }
    .overlay {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 1;
      opacity: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      transition: all 0.3s ease-in;
    }
    .overlay_content {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 2;
    }
    &.square {
      &:after {
        content: '';
        display: block;
        margin-top: 100%;
      }
    }
    &.pic_43 {
      @include snb-width {
        height: calc((390px - 30px) / 4 * 3);
      }
    }
    &.pic_169 {
      @include snb-width {
        height: calc((390px - 30px) / 16 * 9);
      }
    }
    &.pic_219 {
      @include snb-width {
        height: calc((390px - 30px) / 21 * 9);
      }
    }
  }

  .caption {
    text-align: center;
    margin-top: 20px;
    h3 {
      @include rem(font-size, 2.2rem);
      font-weight: 400;
      line-height: 140%;
    }
    .sub {
      @include rem(font-size, 1.3rem);
      font-weight: 300;
      color: $grey;
      margin-top: 10px;
    }
    .read {
      color: $grey;
      display: inline-block;
      @include rem(font-size, 1.3rem);
      &:after {
        content: '';
        color: $grey;
        display: block;
        border-bottom: 1px solid $grey;
        padding-top: 2px;
      }
      &:hover {
        color: $main_color;
      }
    }
  }
}

// ------------------------------------------------------ Color
.red {
  color: $red !important;
}

.blue {
  color: $blue !important;
}

.green {
  color: $green !important;
}

.grey {
  color: $grey !important;
}

.mainColor {
  color: $main_color !important;
}

.pink {
  color: $sec_color !important;
}

// ------------------------------------------------------ Margin
.mt5 {
  margin-top: 5px !important;
}

.mt10 {
  margin-top: 10px !important;
}

.mt20 {
  margin-top: 20px !important;
}

.mt30 {
  margin-top: 30px !important;
}

.mt40 {
  margin-top: 40px !important;
}

.mt50 {
  margin-top: 50px !important;
}

.mt60 {
  margin-top: 60px !important;
}

.mb5 {
  margin-bottom: 5px !important;
}

.mb10 {
  margin-bottom: 10px !important;
}

.mb20 {
  margin-bottom: 20px !important;
}

.mb30 {
  margin-bottom: 30px !important;
}

.mb40 {
  margin-bottom: 40px !important;
}

.mb60 {
  margin-bottom: 60px !important;
}

// ------------------------------------------------------ 網頁列印的樣式
@media print {
  @page {
    size: A4 portrait;
    margin: 0.5cm;
    orphans: 4;
    widows: 2;
  }

  nav,
  aside {
    display: none;
  }

  .content {
    padding: 0;
    margin: 0;
  }

  a[href]:after {
    content: '';
  }
}
