.area_checking {
  background-color: $check_bgColor;
  @include gridbox(auto 210px, 0, 0, grid);
  height: 100vh;
  position: relative;

  > .box_checkParts {
    background-color: adjust_hue(saturate(lighten($black, 5%), 2%), 43%);
    margin-left: 80px;
    padding: 20px;
  }

  .title_diagnosisStyle {
    margin-bottom: 60px;
    .prog_borderStyle {
      border: 1px solid $grey;
      border-radius: 18px;
      padding: 5px 10px;
      .progress {
        margin-bottom: 0;
        > .prog_colorStyle {
          // background-color: $progress_green;
          @include bgcLG(to right, $progress_green, $progress_blue);
          border-top-right-radius: 18px;
          border-bottom-right-radius: 18px;
        }
      }
    }

    .title_partsTitlebar {
      @include rem(font-size, 4.8rem);
      &:before {
        content: attr(data-sub);
        display: block;
        @include rem(font-size, 2.4rem);
        font-weight: 300;
      }
    }
  }

  .btn_closeChecking {
    background-color: $red;
    border-radius: 0;
    color: $white;
    @include rem(font-size, 2.4rem);
    line-height: 1;
    width: 80px;
    height: 80px;
    position: absolute;
    left: 0;
    top: 0;
  }

  $stepbar-Height: calc(100vh - 234px);
  $stepbar-liHeight: calc((100vh - 234px) / 5 * 1);
  $stepbar-liCenterHeight: calc((100vh - 234px) / 5 * 3);
  .list_stepBar {
    @include reset-list;
    position: relative;
    z-index: 1;

    &:after {
      content: '';
      display: block;
      width: 4px;
      height: calc(100% - 150px);
      position: absolute;
      top: 38px;
      left: 28px;
      @include bgcLG(to bottom, #ffb73b, $white);
    }

    >li {
      @include gridbox(82px auto, 30px, 0);
      @extend %words;
      word-break: break-word;
      position: relative;
      z-index: 2;

      &:first-child,
      &:last-child {
        @include rem(font-size, 3rem);
        font-weight: 300;
        height: $stepbar-liHeight;
        &:before {
          content: '';
          border-radius: 50%;
          margin: 8px 0 0 20px;
          height: 20px;
          width: 20px;
        }
      }

      &:first-child {
        color: darken($white, 5%);
        &:before {
          background-color: $blue;
        }
      }

      &:nth-child(2) {
        color: $yellow;
        @include rem(font-size, 6rem);
        height: $stepbar-liCenterHeight;
        position: relative;
        &:before {
          align-self: center;
          content: url(~@/assets/images/diagnosis/period_finish.svg);
          margin-top: -70px;
          height: 60px;
          width: 81px;
        }

        > .box_verticalCenter {
          line-height: 330px;
          > div {
            display: inline-block;
            line-height: 1;
            vertical-align: middle;

            ul > li {
              &.success {

                p {
                  color: $green;
                }
        
                >span {
                  color: $green;
                }
              }
          
              &.error {
                
                p {
                  color: $red;
                }
        
                >span {
                  color: $red;
                }
              }
            }
          }
        }
      }

      &:last-child {
        color: darken($grey, 10%);
        &:before {
          background-color: $grey;
        }
      }

      
      &.success {
        p {
          color: $green;
        }
      }
    
      &.error {
        p {
          color: $red;
        }
      }
    }

    p {
      margin-bottom: 0;
    }

    &.step_firstStep {
      li {
          &:first-child {
            display: none;
          }

          &:nth-child(2) {
            height: calc((100vh - 234px) / 5 * 4);
            
            &:before {
              align-self: unset;
              margin-top: 0;
            }

            > .box_verticalCenter {
              line-height: 1;
              > div {
                display: block;
                vertical-align: baseline;
              }
            }
          }
      }
    }

    &.step_lastStep {
        >li {
            &:last-child {
                visibility: hidden;
            }
        }

        &:after {
            height: 260px;
        }
    }
  }
}
