.language {
    text-align: center;
    background-color: $white;

    .style_language{
        overflow: auto;
        height: 200px;
        width: 84%;
        margin: auto;

        &::-webkit-scrollbar {
            -webkit-appearance: none;
            width: 10px;
        }

        &::-webkit-scrollbar-track {
            background: rgba($grey, 0.5);
        }

        &::-webkit-scrollbar-thumb {
            background-color: #666;
        }
    }

    ul{
        text-align: left;
        color: $black;
        margin-bottom: 0;
        
        li{
            @include rem(font-size, 2.0rem);
            &:not(:first-child) {
                margin-top: 20px;
            }

            .radio {
                label {
                    @include gridbox(inline-grid, 100px auto, 0, 0);
                    >span {
                        @include rem(font-size, 2.6rem);
                        align-self: center;
                        justify-self: center;
                    }
                }
            }
        }
    }
}