$box-marginBottom: 6vh;
$form-padding: 12px;

.area_setting {
    width: 85%;
    
    &.fixed {
        overflow: hidden;
        height: calc(100vh - 136px);
    }

    .btn_twoGroup {
        margin-top: 10vh;
        margin-bottom: 6vh;
    }

    .grid_settingStyle {
        @include gridbox(240px auto, 5px, 0);
        p {
            align-self: center;
            margin-bottom: 0;
        }
        .list_radioItem {
            >li {
                .radio {
                    margin-top: 0;
                    margin-bottom: 0;
                    label {
                        padding-left: 26px;
                    }
                }

                &:first-child {
                    width: 150px;
                }    
            }
        }

        &.hasInput {
            @include gridbox(278px auto, 10px, 0);
        }
    }

    .form-control, button {
        border-radius: 40px;
        height: auto;
        padding: $form-padding 26px;
    }
}

.list_bikeSetting {
    color: $white;
    list-style-type: square;
    margin-bottom: 0;
    padding-left: 30px;

    >li {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }

    ul {
        margin-bottom: 0;
        
        &.list_radioItem {
            font-size: 0;
            >li {
                .radio {
                    label {
                        padding-left: 26px;
                    }
                }
                display: inline-block;
                @include rem(font-size, 1.8rem);
                &:first-child {
                    width: 180px;
                }    
            }
        }
    }

    .form-control {
        background-color: transparent;
        border-color: $grey;
        color: $white;
    }

    .tip_levelNumber {
        display: block;
        position: relative;
        width: 30px;
        height: 30px;

        &:before, &:after {
            display: inline-block;
            border-radius: 50%;
            position: absolute;
            top: 0;
            left: 0;
            width: inherit;
            height: inherit;
        }
        &:before {
            content: attr(data-level);
            @include rem(font-size, 1.8rem);
            text-align: center;
            line-height: 30px;
            z-index: 2;
        }
        &:after {
            background-color: $main_color;
            content: '';
            z-index: 1;
        }
    }
}

.box_setMode {
    margin-bottom: $box-marginBottom;
    .list_modeSetting {
        @include reset-list;
        font-size: 0;

        li {
            display: inline-block;

            &:not(:last-child) {
                margin-right: 3rem;
            }

            a {
                &.square {
                    width: 220px;
                }

                .overlay {
                    background-color: rgba(0, 0, 0, .5);
                    border-radius: 50%;
                    border: 6px solid $main_color;

                    .overlay_content {
                        color: $white;
                        @include rem(font-size, 4.8rem);
                        font-weight: 300;
                    }
                }
            }

            &:first-child {
                a {
                    background-image: url(~@/assets/images/setting/setting_city.png);
                }
            }

            &:nth-child(2) {
                a {
                    background-image: url(~@/assets/images/setting/setting_climbing.png);
                }
            }

            &:last-child {
                a {
                    background-image: url(~@/assets/images/setting/setting_trekking.png);
                }
            }

            &.active {
                .overlay {
                    opacity: 1;
                }
            }
        }
    }
}

.box_setBikeInfo {
    @include gridbox(2fr 3fr, 50px, 0);
    margin-bottom: $box-marginBottom;
    .box_setDriverPowerLevel {
        .list_sortStyle {
            @include reset-list;
            padding-left: 0;
            li {
                @include flexbox(nowrap, space-between, center);
                position: relative;
                padding-top: 20px;
                &:not(:last-child) {
                    margin-bottom: 20px;
                }
                >span {
                    color: $main_color;
                    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
                    flex-basis: 8%;
                    line-height: 40px;
                }
                .box_powerLevel {
                    @include gridbox(44px auto 44px, 20px, 0);
                    flex-basis: 92%;
                    height: 40px;
                    > span {
                        align-self: center;
                        font-weight: 100;
                        &:first-child {
                            justify-self: flex-end;
                        }
                    }
                    .rangeBar {
                        align-self: center;
                        grid-template-columns: auto;
                        span {
                            color: $white;
                            display: inline-block;
                            @include rem(font-size, 1.6rem);
                            font-weight: 700;
                            position: absolute;
                            top: 0px;
                            left: 50%;
                            transform: translateX(-50%);
                        }
                    }
                }
            }
        }
    }
}

.box_setMaintenance {
    margin-bottom: $box-marginBottom;
}

input[type="range"] {
    height: 6px;
    background-color: $white;
    background-image: linear-gradient($main_color, $main_color);
    background-size: 50% 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}

input[type="range"]::-webkit-slider-runnable-track {
    box-shadow: none;
    border: none;
    background: transparent;
}