// ------------------------------------- 專案主題顏色
$main_color: #47B1A4;
$sec_color: #FF6578;
$side_color: #363636;
$side_textcolor: #9B9B9B;
$side_btncolor: #3F3F3F;
$side_btnHovercolor: #848484;

// ------------------------------------- 專案其他顏色
$red: #EE2F46;
$ball_red: #EC4B4B;
$green: #4BEB5D;
$progress_green: #bbe851;
$progress_blue: #07a8c3;
$blue: #6AD1FF;
$yellow: #FFD900;
$orange: #FF8C00;
$check_bgColor: #1E2124;

// pie chart
$noAssistance: #A8A8A7;
$eco: #FFF;
$tour: #FFFA78;
$sport: #BFBEB9;
$highspeed: #8BE0CE;