extend layout/_layout.pug

include include/mixins/_mixins.pug

block content
	.message_box_outline
		.message_box
			ul.message_list.list-styled
				li Website is under construction

block contenttips
	p Unfortunately,
	p the website is down for a bit of maintenance right now.
	p We will be online as soon as possible. Please check again in a little while.
	p Thank you :)

block lightbox